/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

/* =====================================
RESET
======================================*/

@import url('https://fonts.googleapis.com/css?family=Dosis:400,700|Exo+2:400,700|Yatra+One');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*===============================================
GRID 
================================================*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*================================================ 
TYPOGRAPHY 
=================================================*/

h1, h2, h3, h4, h5, h6, p { /*setting the bottom margin for the text elements (breathing space) */
  margin-bottom: 10px;
  font-family: 'Exo 2', sans-serif;
}

h1 { /*title of each new page*/ /*title page subtitle*/
  color: #13C4A3;
  font-size: 25px;
}

h2 { /*main page heading titles*/
  color: #8E9AAF;
  font-size: 40px;
  font-family: 'Exo 2', sans-serif;

}

h3 {
  color: #e6e2af;
  font-size: 30px;
}

h4 {
  color: #efecca;
  font-size: 50px;
}

h5 {
  font-size: 25px;
  font-family: 'Exo 2', sans-serif;
  color: #e6e2af;
}

h6 { /*JEESOO KIM.*/
  color: #263354;
  font-size: 50px;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

p {
  font-size: 18px;
  display: block;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

.p1 {
  color: white;
}

.p2 {
  color: black;
}

.subheader {
  padding-top: 3%;
  padding-bottom: 3%;
}

/*================================================
CLEARFIX
=================================================*/

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  clear: both;
  *zoom: 1;
}


/*=================================================================================
MY DESIGNS ARE KICKING OFF NOW WOO
=================================================================================*/

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(Preloader_7.gif) center no-repeat #fff;
}

/*================================================
HOME
=================================================*/
body {
  background: #F6F7F8;
  margin: 0;
}

section {
  margin-bottom: 10%;
  background: #263354;
}

/*============ INITIAL PAGE ==================*/

header {
  line-height: 0.6;
  top: 0px;
  display: block;
  width: 100%;
  top: 0px;
  text-align: center;
  z-index: 1000;
}

#opening {
  padding-top: 7%;
  min-height: 700px;
}

.subtitle {
  padding-top:15px;
}

#face {
  display: inline-block;
  max-height: 400px;
  min-height: 100px;
  padding-bottom: 20px;
}


#faceopen {
  display: none;
  max-height: 400px;
  min-height: 100px;
  padding-bottom: 20px;
}

/*============= NAVBAR ===============*/

.icon { 
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 15px;
}

#contacticon {
  width: 30px;
  height: auto;
  margin-bottom: 2px;
}

.icondiv {
  display: inline-block;
}


/*============ GENERAL ==============*/

.center {
  text-align: center;
}

a {
  font-size: 19px;
  font-family: 'Exo 2', sans-serif;
  color: #266D84;
  text-decoration: none;
  padding-left: 2px;
}

a:hover {
  color: #DAEDE6;
}

#gohometab {
  display: inline-block;
  margin-top: 1%;
  margin-right: 0;
  padding:10px;
  padding-right: 20px;
  position: fixed;
  float: right:
  border: 3px solid black;
  border-radius: 0px 20px 20px 0px;
  background: #A31621;
}

#gohometagtext {
  color: #F6F7F8;
}

#gohometagtext:hover {
  color: #DAEDE6;
}

.fixPosition {
  position: fixed;
}

#top {
  min-height: 100%;
  position: relative;
}

.twocolumnleft {
  display: inline-block;
  float: left;
  width: 50%;
}

.twocolumnright {
  display: inline-block;
  float: right;
  width: 50%;
}

.threecolumn {
  display: inline-block;
  width: 30%;
  margin: 0 1.3% 24px 1.3%;
  vertical-align: top;
}

.content {
  padding: 15% 3% 3% 3%;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 2;
  display: block;
  z-index: 1000;
  height: 100%;
  width:100%;
}

.narrowcontent1 {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 2;
  display: block;
  z-index: 1000;
  height: 100%;
  width:100%;
}
}

.narrowcontent2 {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 2;
  display: block;
  z-index: 1000;
  height: 100%;
  width:100%;
}
}

.extrapadding {
  padding-top: 100px;
}

.extrapaddingbottom {
  padding-bottom: 30px;
}

.extramarginbottom {
  margin-bottom: 30px;
}

.extramargin {
  height: 70px;
}

/*======================================================
ABOUT 
======================================================*/

.paintbrush {
  max-width: 40%;
  margin-left: 20%;
  margin-right: 20%;
}

.frenchhorn {
  margin-top: 90px;
  margin-bottom: 90px;
  max-width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.travel {
  margin-left: 18%;
  margin-right: 12%;
}

/*=====================================================
PROJECTS
======================================================*/

.projects {
  padding-left: 18%;
  padding-right: 18%;  
}

.project {
  display: inline-block;
  background: #F6F7F8;
  padding: 2%;
  border-radius: 30px;
}

.icondiv {
  vertical-align: top
}

.disappearingimg {
  display:inline-block;
}

.caption {
  display:none;
  margin-top: 9px;
  font-size: 13px;
}

.icondiv a:hover .disappearingimg {
  display: none;
}

.icondiv a:hover .caption {
  display: inline-block;
}
/*==========================*/
.imageleft {
  float: right;
}

.imageright {
  float: left;
}

.speechbanana {
  display: inline-block;
  max-width:65%;
  margin-top: 3%;
  margin-left: 17.5%;
  margin-right: 17.5%;
}

.hopkinsmedicine {
  max-width:100%;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
}


.jhuwhiting {
  max-width:100%;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
}

.tremtex {
  max-width:100%;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
}

.inbt {
  border: 2px solid black;
  max-width:100%;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
}

.cbid {
  border: 2px solid black;
  max-width:100%;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
}

/*==================== CONTACT ===================*/
.contact {
  padding-left: 18%;
  padding-right: 18%;
  border: 3px solid grey;
}

.linkedin {
  max-width: 40%;
  opacity: 1;
}

.gmail {
  max-width: 40%;
  opacity: 1;
}

.github {
  max-width: 40%;
  opacity: 1;
}

.gmail-bg {
  background: #969A97;
  height: auto;
  border-radius: 40px 40px 40px 40px;
  padding: 15px;
  padding-top: 30px;
}

.linkedin-bg {
  background: #969A97;
  height: auto;
  border-radius: 40px 40px 40px 40px;
  padding: 15px;
  padding-top: 30px;
}

.github-bg {
  background: #969A97;
  height: auto;
  border-radius: 40px 40px 40px 40px;
  padding: 15px;
  padding-top: 30px;
}

/*======================== FOOTER ==========================*/

footer {
  font-size: 12px;
  bottom: 0;
  width:100%;
}

.footer {
  margin: auto;
  width: 100%;
  text-align:center;
}

.backtotop {

}

.whiteline {
  border-top: 3px solid #263354;
  padding-top: 15px;
  padding-bottom: 20px;
}


/*====================================================== 
ANIMATION CODE 
=======================================================*/

@-webkit-keyframes fadeIn { 
  from {opacity:0;} 
  to {opacity:1;} 
}

@-moz-keyframes fadeIn { 
  from {opacity:0;} 
  to {opacity:1;} 
}

@keyframes fadeIn { 
  from {opacity:0;} 
  to {opacity:1;} 
}


.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1.25s;
  -moz-animation-duration:1.25s;
  animation-duration:1.25s;
}

.fadeInFast {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;
}

.one { 
  -webkit-animation-delay:0.7s;
  -moz-animation-delay:0.7s;
  animation-delay:0.7s;
}

.two { 
  -webkit-animation-delay:1.2s;
  -moz-animation-delay:1.2s;
  animation-delay:1.2s;
}

.three { 
  -webkit-animation-delay:1.3s;
  -moz-animation-delay:1.3s;
  animation-delay:1.3s;
}

.four { 
  -webkit-animation-delay:1.4s;
  -moz-animation-delay:1.4s;
  animation-delay:1.4s;
}

.five { 
  -webkit-animation-delay:1.5s;
  -moz-animation-delay:1.5s;
  animation-delay:1.5s;
}

.six { 
  -webkit-animation-delay:1.6s;
  -moz-animation-delay:1.6s;
  animation-delay:1.6s;
}

/*=== Trigger ===*/
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*=== FADE IN DOWN ===*/
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
 
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
 
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
 
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
 
/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
 
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
 
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
 
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
 
/*=== FADE IN LEFT ===*/
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
 
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
 
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
 
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
 
 
/*==== FADE IN RIGHT ===*/
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
 
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
 
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
 
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}


/*
@keyframes start {
  from {background-color: black;}
  to {background-image:url(assets/images/background.JPG); background-size:cover; background-attachment:fixed;}
}

body {
  background-color: black;
  animation-name: start;
  animation-delay: 1s;
  animation-duration: 4s;

}
*/




